$font-family-base: "Roboto", sans-serif;
$custom-box-width: 415px;
$custom-box-width-sm: 280px;

// Table
$table-head-bg: $light;
$table-bg: $white;
// Form
$form-group-margin-bottom: 32px;
$input-focus-border-color: $primary;
$input-focus-color: $gray-semi-dark;

// Dropdown-icon
$enable-caret: false;

// fonts
$font-size-base: 1rem;
$font-size-lg: 1.125rem;
$font-size-sm: 14px;
$font-size-xs: 12px;
$font-size-xl: 20px;
